* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url(img/3.jpg);
    background-size: cover;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
    justify-content: center;
  }
  .person {
    flex-basis: 33.33%;
    width: 100%;
    padding: 0.5em 0;
    box-sizing: border-box;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: #8d4aa5;
  }
  h2{
    width: 100%;
    text-align: center;
    color: #8d4aa5;
  }
  h3{
    width: 100%;
    text-align: center;
    color: #8d4aa5;
  }

  .card {
    box-shadow: 0 0 2.5em #8d4aa5;
    padding: 3.5em 1em;
    border-radius: 0.6em;
    margin: 0.5em 2em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.4s;
    background-color: #3b3bcd;
  }
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content:center;
    transition: 0s;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  .icons a i {
    font-size: 40px;
    transition: all 0s ease-in-out;
  }
  .icons a i:hover {
    color: #3b3bcd;
    transform: scale(1.2);
  }
  @media screen and (max-width: 768px) {
    .row {
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .person {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }